[submodule "themes/hugo-strata-theme"]
  path = themes/hugo-strata-theme
  url = https://github.com/digitalcraftsman/hugo-strata-theme.git

[submodule "themes/cocoa"]
  path = themes/cocoa
  url = https://github.com/nishanths/cocoa-hugo-theme.git
